In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('data/student_scores.csv')

In [4]:
df.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [5]:
from sklearn.model_selection import train_test_split

df_train, df_test = train_test_split(df, train_size=0.7, random_state = 0)

print(df_train.shape)
print(df_test.shape)

(17, 2)
(8, 2)

In [6]:
#MinMaxScaler --> it puts everything in the same range (In Linear regression)

from sklearn.preprocessing import MinMaxScaler

rescale = MinMaxScaler()  # calling the constructor to initialize an object

num_features = ['Hours', 'Scores']

norm_train_data = rescale.fit_transform(df_train.loc[:,num_features])

print(norm_train_data.shape, type(norm_train_data))

(17, 2) <class 'numpy.ndarray'>

In [8]:
df_train = pd.DataFrame(norm_train_data, columns = num_features)

df_train.head()

      Hours    Scores
0  0.716049  0.756410
1  0.000000  0.000000
2  0.493827  0.384615
3  0.814815  0.871795
4  0.271605  0.320513

In [14]:
X_train = np.array(df_train['Hours'])
y_train = np.array(df_train['Scores'])

In [15]:
print(X_train)
print(y_train)

[0.71604938 0.         0.49382716 0.81481481 0.27160494 0.88888889
 1.         0.61728395 0.2962963  0.19753086 0.54320988 0.19753086
 0.91358025 0.17283951 0.45679012 0.96296296 0.41975309]
[0.75641026 0.         0.38461538 0.87179487 0.32051282 0.82051282
 0.91025641 0.64102564 0.16666667 0.1025641  0.55128205 0.16666667
 0.74358974 0.05128205 0.47435897 1.         0.30769231]