# Build the model like a pro using sklearn!!

1. Load the data
2. Data preparation - Normalisation, Rescaling, train_test_split
3. Training the model
4. Prediction
5. Evaluation

In [1]:
import pandas as pd

df = pd.read_csv('data/Iris.csv')
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [2]:
df['Species'].value_counts()

Iris-versicolor    50
Iris-virginica     50
Iris-setosa        50
Name: Species, dtype: int64

# Data Preparation - Standardization

In [3]:
target = df['Species'] # Series 
data   = df.drop("Species", axis=1)  # DataFrame
#axis=1 column

In [4]:
data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [5]:
target.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Species, dtype: object

In [6]:
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

# Data Preparation - Train Test Split

In [7]:
from sklearn.model_selection import train_test_split
X_train, x_test, Y_train, y_test = train_test_split(data, target, test_size = 0.25, \
                                                    random_state = 0)

# Training the model

In [8]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train, Y_train)

LogisticRegression()

# Prediction

In [9]:
y_test_pred = classifier.predict(x_test)

In [10]:
temp_df = pd.DataFrame({'Actual': y_test, 'Predicted': y_test_pred})
temp_df.head()

              Actual        Predicted
114   Iris-virginica   Iris-virginica
62   Iris-versicolor  Iris-versicolor
33       Iris-setosa      Iris-setosa
107   Iris-virginica   Iris-virginica
7        Iris-setosa      Iris-setosa

In [11]:
temp_df.columns

Index(['Actual', 'Predicted'], dtype='object')

In [12]:
temp_df.loc[temp_df.Actual != temp_df.Predicted, :]

             Actual       Predicted
83  Iris-versicolor  Iris-virginica

# Evaluate

In [15]:
# calculate accuracy  of class predictions
from sklearn import metrics
metrics.accuracy_score(y_test, y_test_pred)

0.9736842105263158

In [16]:
37/38

0.9736842105263158