In [3]:
class Human:
    def __init__(self, n, g): # constructor --> to initialize the object; self is mandatory ; costruct an object
        self.name   = n
        self.gender = g
        
    def display(self):
        print("Name = {}, Gender = {}".format(self.name, self.gender))

In [4]:
kanav = Human('Kanav Bansal', 'male')  # --> Kanav is object  and Human is class

In [5]:
kanav.display()

Name = Kanav Bansal, Gender = male

In [8]:
deepthi = Human('Deepti', 'Female')

deepthi.display()

Name = Deepti, Gender = Female

In [150]:
class BankAccount:
    def __init__(self, num, ifsc, name, bal):
        self.acct_number = num
        self.ifsc        = ifsc
        self.name        = name
        self.__balance   = bal   # __ will protect the field
    
    def display(self):
        print("Account Number : ", self.acct_number)
        print("IFSC    : ", self.ifsc)
        print("NAME    : ", self.name)
        print("BALANCE : ", self.__balance)
        
    def deposit(self, amount):
        if amount >= 0:
            self.__balance += amount
        else:
            print('enter the valid amount')
            
    def withdraw(self, amount):
        if amount <= self.__balance:
            print("Withdrawl of {} is successful".format(amount))
            self.__balance -= amount
        else:
            print('Insufficient balance')

In [151]:
b1 = BankAccount(12345, "SBIN0000", "Pranay", 10000)
b2 = BankAccount(67890, "SBIC0000", "Kartheek", 6586)

In [152]:
b1.display()

Account Number :  12345
IFSC    :  SBIN0000
NAME    :  Pranay
BALANCE :  10000

In [153]:
b2.display()

Account Number :  67890
IFSC    :  SBIC0000
NAME    :  Kartheek
BALANCE :  6586

In [154]:
b1.deposit(500)

In [155]:
b1.display()

Account Number :  12345
IFSC    :  SBIN0000
NAME    :  Pranay
BALANCE :  10500

In [156]:
b1.deposit(-10)

enter the valid amount

In [157]:
b1.display()

Account Number :  12345
IFSC    :  SBIN0000
NAME    :  Pranay
BALANCE :  10500

In [158]:
b1.withdraw(600)

Withdrawl of 600 is successful

In [159]:
b1.display()

Account Number :  12345
IFSC    :  SBIN0000
NAME    :  Pranay
BALANCE :  9900

In [160]:
b1.withdraw(10000)

Insufficient balance

In [161]:
b3 = BankAccount(2222, 'HDFC0000',"Krishna", 25000)
b3.display()

Account Number :  2222
IFSC    :  HDFC0000
NAME    :  Krishna
BALANCE :  25000

In [162]:
print(b3.name)

Krishna

In [163]:
b3.name = 'Chandra'
b3.display()

Account Number :  2222
IFSC    :  HDFC0000
NAME    :  Chandra
BALANCE :  25000

In [164]:
b3.__balance = 1000000
b3.display()

Account Number :  2222
IFSC    :  HDFC0000
NAME    :  Chandra
BALANCE :  25000

In [165]:
b3.withdraw(500)

Withdrawl of 500 is successful

In [166]:
b3.display()

Account Number :  2222
IFSC    :  HDFC0000
NAME    :  Chandra
BALANCE :  24500

In [170]:
import math

#dir(math)

print(math.__doc__)

This module provides access to the mathematical functions
defined by the C standard.

In [172]:
print(__name__)

__main__

In [174]:
import math as m
import random as r
import datetime as dt

print(m.__name__)
print(r.__name__)
print(dt.__name__)

print(__name__)

math
random
datetime
__main__