# Simple Linear Regression

1. Building Liner Regression Model using sklearn
2. Building the model like a Pro using sklearn!!
3. Model building using statsmodels

In [2]:
import warnings
warnings.filterwarnings('ignore')

# Building Linear Regression Model using sklearn

steps :

1. Load the data
2. Data preparation - train-test Split, Normalisation, or, Rescaling
3. Training the model using ML Algo
4. Testing the model using testing data (only input) and predict the output
5. Evaluate with predict output with actual output (testing data)

# 1. Load the Data

In [1]:
#importing the required libraries

import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('student_scores.csv')
df.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [5]:
df.shape

(25, 2)

In [8]:
data = df[['Hours']]   # DataFrame
target = df['Scores']  # Series
data.head()  # is a DataFrame (is always be in this form)

   Hours
0    2.5
1    5.1
2    3.2
3    8.5
4    3.5

In [9]:
target.head() # is a Series (default form)

0    21
1    47
2    27
3    75
4    30
Name: Scores, dtype: int64

# 2. Data Preparation

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data,target, train_size = 0.7, \
                                                    random_state = 0)
# random seed -> to provide the consistent results ; every time we run the code, shuffle won't happen again & again
# only once, it shuffles

print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(17, 1) (17,)
(8, 1) (8,)

In [15]:
X_train.head() # it takes only 70% of the total data and only once shuffled.

    Hours
23    6.9
14    1.1
1     5.1
10    7.7
13    3.3

In [22]:
X_test.head()

    Hours
5     1.5
2     3.2
19    7.4
16    2.5
11    5.9

# 3. Training the model

In [23]:
# sklearn is a library(contains all the ML algo around 25) ; s-> scientific, k-> kit, learn library 
# module is linear_model ;  
# module contains a class called LinearRegression
# regressor is an object (model) ; fit is a funciton

from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [25]:
print('y intercept:',regressor.intercept_)
print('slope:',regressor.coef_)

y intercept: 2.370815382341881
slope: [9.78856669]

# 4. Prediction

In [26]:
y_test_pred = regressor.predict(X_test)
y_test_pred

array([17.05366541, 33.69422878, 74.80620886, 26.8422321 , 60.12335883,
       39.56736879, 20.96909209, 78.72163554])

In [27]:
temp_df = pd.DataFrame({'Actual': y_test, 'Predicted': y_test_pred})
temp_df

    Actual  Predicted
5       20  17.053665
2       27  33.694229
19      69  74.806209
16      30  26.842232
11      62  60.123359
22      35  39.567369
17      24  20.969092
24      86  78.721636

# 5. Evaluation

In [28]:
from sklearn import metrics

print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_test_pred)))

Root Mean Squared Error: 4.792191274636315